In [1]:
import pandas as pd

In [2]:
gdp = pd.read_csv('data/oecdstat_gdp.csv')
gdp_growth = pd.read_csv('data/oecdstat_gdp_growth.csv')

# 국가별 GDP

## 컬럼 정리

In [3]:
gdp = gdp[['Country', 'LOCATION', 'Year', 'Value']]
gdp

        Country LOCATION  Year         Value
0     Australia      AUS  1959  16613.000000
1     Australia      AUS  1960  17574.000000
2     Australia      AUS  1961  17788.000000
3     Australia      AUS  1962  19232.000000
4     Australia      AUS  1963  21251.000000
...         ...      ...   ...           ...
5044    Senegal      SEN  2016      6.356069
5045    Senegal      SEN  2017      7.407486
5046    Senegal      SEN  2018      6.209241
5047    Senegal      SEN  2019      4.613628
5048    Senegal      SEN  2020      1.325505

[5049 rows x 4 columns]

In [4]:
gdp.columns = ['국가명', '국가코드', '기준연도', 'gdp']

## csv 파일으로 저장

In [5]:
gdp.to_csv('gdp.csv', encoding='utf-8', index=False)

# 국가별 GDP 성장률

## 컬럼 정리

In [6]:
gdp_growth = gdp_growth[['Country', 'LOCATION', 'Year', 'Value']]

In [7]:
gdp_growth.columns = ['국가명', '국가코드', '기준연도', 'gdp성장률']

## csv 파일으로 저장

In [8]:
gdp_growth.to_csv('gdp_성장률.csv', encoding='utf-8', index=False)